SUPABASE_KEY=your-supabase-key
SUPABASE_URL=your-supabase-url
SUPABASE_CONNECTION_STRING = your-supabase-connection-string
TELEGRAM_TOKEN=your-tg-token
OPENROUTER_API_KEY=your-openrouter-key
CRON_SECRET = your-cron-secret
DOMAIN = your-domain
ADMIN_TG_ID = your-admin-tg-id


